<h3 class="center">{{ cat1 }}</h3>
<hr>
<!--<div class="row">
  <div class="col s12 m4" *ngFor="let aud of listAudio">
    <div class="icon-block">
      <h4 class="center light-blue-text"><i class="material-icons"><img src="app/asset/prism.png"></i></h4>
      <h5 class="center">{{ aud.audioTitle }}</h5>
      <p class="light">{{ aud.category.categoryName }}</p>
    </div>

    <div class="play">
      <a href="http://192.168.177.61:3003/streaming?id={{aud.filePath}}" class="btn btn-brown">Play Audio</a>
      <a [routerLink]="['/streaming',aud.audioID]" class="btn btn-brown">Play Audio</a>
    </div>
  </div>
</div>-->
<!--<a routerLinkActive="active" [routerLink]="['/category']">See All Category</a>-->
<div class="container">
  <table class="responsive-table highlight striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Length</th>
        <th>Play</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aud of listAudio">
        <td>{{ aud.audioTitle }}</td>
        <td>{{ aud.audioLength }} seconds</td>
        <td><a href="http://10.10.193.21:3003/streaming?id={{aud.filePath}}" class="btn btn-brown">Play Audio</a></td>
        <!--<td><a [routerLink]="['/streaming',aud.audioID]" class="btn btn-brown">Play Audio</a></td>-->
      </tr>
    </tbody>
  </table>
</div>
