<br><br><br><br>

<a routerLinkActive="active" [routerLink]="['/category']">See All Category</a>
<h1>{{ cat }}</h1>
<div class="row" *ngFor="let aud of listAudio">
  <div class="col s4">
    <!-- Audio Information here -->
    <div class="card">
      <div class="card-image">
        <img src={{aud.albumUrl}}>
        <span class="card-title">{{ aud.audioTitle }}</span>
      </div>
      <div class="card-content">
        <p>{{ aud.tag }}</p>
      </div>
      <div class="card-action">
        <i class="material-icons">play_arrow</i>
        <a [routerLink]="['/streaming',audioId]">Play Audio</a>
      </div>
    </div>
  </div>
</div>
