<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center blue-text text-lighten-2">Auditory</h1>
      <div class="row center">
        <img src="app/asset/logojtk.png" alt="Unsplashed background img 1" width = "275px">
        <h5 class="header col s12 light">An Audio Repository</h5>
      </div>
      <br><br>
    </div>
  </div>

</div>
<hr>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <img src="app/asset/music-collection.jpg">
          </div>
          <div class="card-content">
            <span class="card-title black-text">Koleksi Musik</span>
            <p>Nikmati dan dengarkan koleksi musik kesukaanmu di sini</p>
          </div>
          <div class="card-action">
            <a href="#">Lihat Koleksi</a>
          </div>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <img src="app/asset/podcast-collection.jpg">
          </div>
          <div class="card-content">
            <span class="card-title black-text">Koleksi Podcast</span>
            <p>Dengarkan koleksi podcast, kapan pun dan di mana pun</p>
          </div>
          <div class="card-action">
            <a href="#">Lihat Koleksi</a>
          </div>
        </div>
      </div>
      <div class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <img src="app/asset/se-collection.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">Koleksi Sound Effect</span>
            <p>Cari dan temukan koleksi sound effect kesukaanmu di Auditory</p>
          </div>
          <div class="card-action">
            <a href="#">Lihat Koleksi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Repository audio yang khusus untuk kamu nikmati</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="app/asset/soundeffect.jpg" alt="Unsplashed background img 2"></div>
</div>
<hr>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Our Team</h4>
        <div class="col s4" *ngFor="let member of listTeamName1">
          <div class="card">
            <div class="card-header">
              <img src="app/asset/profile.gif"/>
            </div>
            <div class="card-content">
              <span class="card-title">{{ member }}</span>
              <p>D-4 Teknik Informatika</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <div class="col s3" *ngFor="let member of listTeamName2">
          <div class="card">
            <div class="card-header">
              <img src="app/asset/profile.gif"/>
            </div>
            <div class="card-content">
              <span class="card-title">{{ member }}</span>
              <p>D-4 Teknik Informatika</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <!--<div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>-->
    </div>
  </div>
  <div class="parallax"><img src="app/asset/podcast.jpg" alt="Unsplashed background img 3"></div>
</div>
